@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    background-color: antiquewhite;
}

/* @font-face {
    font-family: theSeasons;
    src: url(../css/Fontspring-DEMO-theseasons-bd.otf);

}

@font-face {
    font-family: poppins;
    src: url(../css/Poppins-Regular.ttf);

} */

h1 {
    color: white;
    text-align: center;
    font-family: theSeasons;
}
th {
    border: 2px solid black;
    background-color: #ceaa6d;
    font-size: 12px;
}

table {
    color: black;
    text-align: center;
    font-family: poppins;

}

table td{
    padding: 0px !important;
    vertical-align: middle !important;
}

.table-div{
    margin: 0% 5%;

}

/*.container{
    margin: 0%;
    padding: 0%;
    border: 0%;
    
}*/
thead tr th, tbody tr td{
    border: 2px solid black;
}

td{
    font-size: 14px;
}
body{
    background: #1b1c1e;
}

.sort>a{
    padding: 7px 15px; 
    border: 2px solid white;
    border-radius: 10px;
}

nav{
    font-family: poppins;
    font-size: 16px !important;
}

.active {
    background: -webkit-linear-gradient(#f5f5c4, #fdfff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.active:hover {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition: all 0.5s ease-in-out;
    transform: scale(1.2); */
}

.active1 {
    /* background: white; */
    color: black;
    border-radius: 10px;
}

.txtgold {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



