@font-face {
    font-family: theSeasons;
    src: url(Fontspring-DEMO-theseasons-bd.otf);
}

h2 {
    color: white;
    text-align: center;
    font-family: theSeasons;
    padding: 20px;
}

header img {
    padding: 2px;
    width: 200px;
    height: 200px;
}

.text-center pt-5 {
    image-rendering: 20px;
}

.card {
    background-color: beige;
    /*background-size: cover;*/
    /*backdrop-filter: blur(120px);*/
    /*opacity: 0.9;*/
    width: 50%;
    padding: 25px;
    margin-left: 25%;
}

/*#form {
    width: 40%;
}*/

.form-group label {

    color: black;
}

.form-text text-muted {
    color: white;
}

body {
    background-color: #1b1c1e;
    /*background-size: cover;*/
}

.text-center pt-5 {
    color: crimson;
}

.form-line {
    color: white;
}