@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(RGB(237, 130, 7),RGB(235, 218, 36)); 
    padding: 2rem 0; 
}

.bg-white {
    /* background: linear-gradient(#FEBE10, #F0E68C); */
}