.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;


    /* Gradient BG */
    /*background: linear-gradient(to left, #fcbb58,#ceac6d,#1b1c1e);*/

    background: url(https://img.freepik.com/premium-photo/abstract-fluid-art-background-light-golden-yellow-colors-liquid-marble-acrylic-painting-with-gradient-splash-watercolor-backdrop-with-wavy-pattern-stone-marbled-section_113767-5081.jpg?w=2000);
}

@font-face {
    font-family: theSeasons;
    src: url(../css/Fontspring-DEMO-theseasons-bd.otf);

}

@font-face {
    font-family: poppins;
    src: url(../css/Poppins-Regular.ttf);

}

h3{
    font-family: theSeasons;
}
label{
    font-family: poppins;
}


/*Login Page CSS for Navbar*/
nav{
    font-family: poppins;
}

.active {
    background: -webkit-linear-gradient(#f5f5c4, #fdfff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active:hover {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition: all 0.5s ease-in-out;
    transform: scale(1.2); */
}

.active1 {
    /* background: white; */
    color: black;
    border-radius: 10px;
}

.txtgold {
    background: -webkit-linear-gradient(#FEBE10, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




