.container{
    color: whitesmoke;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: baseline;
    order: 2;
}

.parent {
    color: whitesmoke;
    /* display: grid; */
}