*{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
}



.portal{
    width: 100%;
    background-color:black;
}
.portal h1{
    text-align: center;
    color: #ceaa6d;
    margin: 20px 0px;
}

.containeer{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

.containeer-items{
    flex-basis: 23%;
    margin: 10px 0px;
  
    text-align: center;
    padding: 20px 0px;
 

}
.containeer-items img{
    border-radius: 100px;
}

.containeer-items h3{
    padding: 15px 0px;
}

.containeer-items img:hover{
    box-shadow: 0px 0px 30px 8px lightgray;
}

.containeer-items a{
    text-decoration: none;
    color: #ceaa6d;
}

.footer{
    height: 50px;
    background-color: grey;
    width: 100%;
    margin: 0px;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background-color: black;
    height: 85px;
    width: 100%;
}
nav img{
    padding: 10px 10px 5px 10px ;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: #ceaa6d;
    transition: .3s;
}

.checkbtn{
    font-size: 30px;
    color: #ceaa6d;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

/* MEDIA QUERIES */
@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #ceaa6d;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media only screen and (min-width:200px) and (max-width:767px){
    .containeer{
        width: 100%;
        flex-direction: column;
    }
}
